.sidebar-nav {
    list-style-type: none;
}

.sidebar-item {
    margin: 20px 10px;
    display: flex;
    align-items: center;
}

.sidebar-icon {
    font-size: 1.2rem;
    width: 30px;
    padding-right: 10px;
}

.sidebar-link {
    font-weight: 600;
    font-size: 1rem;
    color: var(--font-dark);
}

.personal-info-container {
    display: flex;
    flex-direction: column;
}

.change-personal-info {
    display: flex;
}

.change-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.change-input {
    position: relative;
    display: flex;
}

.change-input input {
    width: 100%;
}

.change-input input:focus ~ .input-edit-icon {
    color: #ffae00;
}

.input-edit-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
}
