form {
    display: flex;
    text-align: left;
}

.registration-title {
    margin: 20px 0;
}

.registration-input {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 500px;
    margin: 20px 0;
}

.input-username,
.input-firstname {
    flex: 0 0 48%;
}

.input-email {
    flex: 1 0 100%;
}

.input-password,
.input-repeat-password {
    flex: 0 0 42%;
}

.input-password-visibility {
    flex: 0 0 5%;
    display: flex;
    justify-content: center;
}

.input-password-icon {
    margin: 20px 0;
    cursor: pointer;
    color: var(--font-light);
    width: 35px;
    font-size: 1.6rem;
}

.input-password-info {
    padding-top: 10px;
    color: var(--font-light);
    font-size: 0.8rem;
}

.registration-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 50px;
    width: 300px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}
