:root {
    --font-dark: #1c1c1c;
    --font-light: #4c4c4c;
    --background: #eeeeee;
    --accent-color: #ffae00;
    --shadow-small-outside: -5px -5px 5px 0 rgba(255, 255, 255, 0.7),
        5px 5px 5px 0 rgba(0, 0, 0, 0.05);
    --shadow-small-inside: inset -5px -5px 5px 0 rgba(255, 255, 255, 0.4),
        inset 5px 5px 5px 0 rgba(0, 0, 0, 0.05);
    --box-shadow-big: -12px -12px 12px 0 rgba(255, 255, 255, 0.7),
        12px 12px 12px 0 rgba(0, 0, 0, 0.05);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--background);
    color: var(--font-dark);
}

h1 {
    color: var(--font-dark);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    font-size: 0.9rem;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 700;
}

p {
    margin: 0;
}

.content {
    position: relative;
}

.error {
    display: flex;
    color: #df832e;
}

.success {
    display: flex;
    color: #5acc50;
}

.error-message,
.success-message {
    padding-left: 10px;
}
