.team-item {
    width: 500px;
    margin: 20px 0;
    background: var(--background);
    box-shadow: var(--shadow-small-outside);
    border-radius: 10px;
}

.team-link {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 15px 25px;
}

.team-icon {
    margin-right: 15px;
    flex: 0 1 20%;
}

.team-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 1 70%;
}

.team-name {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.3rem;
}

.team-sr {
    color: var(--font-light);
}
